// Settings
$success: #99C24D;
$warning: #FFB627;
$error: #F25F5C;
$info: #4DFFF3;

// Tools
@mixin color-success {
    color: $success;
}
@mixin color-warning {
    color: $warning;
}
@mixin color-error {
    color: $error;
}
@mixin color-info {
    color: $info;
}

@mixin bg-color-success {
    color: $success;
}
@mixin bg-color-warning {
    color: $warning;
}
@mixin bg-color-error {
    color: $error;
}
@mixin bg-color-info {
    color: $info;
}

// Objects
.success {
    @include color-success();
}
.warning {
    @include color-warning();
}
.error {
    @include color-error();
}
.info {
    @include color-info();
}

.bg-success {
    @include bg-color-success();
}
.bg-warning {
    @include bg-color-warning();
}
.bg-error {
    @include bg-color-error();
}
.bg-info {
    @include bg-color-info();
}
