.repeat-items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.center {
  display: grid;
  place-items: center;
}

.horizontal-center {
  display: flex;
  align-items: center;
}

.disclaimer {
  font-style: italic;
}

.overview-title {
  margin-top: 16px !important;
}

.v-pad {
  padding-bottom: 16px;
}
